<div>
    <h4>
        Default toast type (info)
    </h4>
    <button type="button" class="btn btn-default" ng-click="openMessage()">Open simple message</button>
    <button type="button" class="btn btn-default" ng-click="openTemplate()">Open templated content</button>
    <button type="button" class="btn btn-default" ng-click="openMessageInfinite()">Open persistent message</button>
    <br />
    <h4>
        Specific toast types
    </h4>
    <button type="button" class="btn btn-default" ng-click="openWithType('info')">Open info message</button>
    <button type="button" class="btn btn-default" ng-click="openWithType('success')">Open success message</button>
    <button type="button" class="btn btn-default" ng-click="openWithType('warning')">Open warning message</button>
    <button type="button" class="btn btn-default" ng-click="openWithType('danger')">Open danger message</button>
</div>
